Repository gbowne1/reactsocialnetwork, pull requests merged in 2023-11, with the labels that each got.

#325 Friends back end
  client/src/utils/fetchUserData.js
  e2e/cypress.config.js
  e2e/cypress/e2e/api/friends-api.cy.js
  e2e/cypress/e2e/api/post-api.cy.js
  e2e/cypress/e2e/api/user-api.cy.js
  e2e/cypress/e2e/ui/cookie-modal.cy.js
  e2e/cypress/e2e/ui/events.cy.js
  e2e/cypress/e2e/ui/login.cy.js
  e2e/cypress/e2e/ui/posts.cy.js
  e2e/cypress/e2e/ui/top-nav.cy.js
  e2e/cypress/support/commands.js
  server/database.js
  server/routes/friend-requests/acceptFriendRequest.js
  server/routes/friend-requests/createFriendRequest.js
  server/routes/friend-requests/getFriendRequestsReceived.js
  server/routes/friend-requests/getFriendRequestsSent.js
  server/routes/friend-requests/getUserFriends.js
  server/routes/friend-requests/rejectFriendRequest.js
  server/routes/friend-requests/unfriend.js
  server/routes/posts/deleteTestPosts.js
  server/routes/users/deleteTestUsers.js
Labels: documentation, enhancement, backend, testing, feature, refactor, e2e

#326 Tests update
  e2e/cypress/e2e/api/authentication/delete-user.cy.js
  e2e/cypress/e2e/api/authentication/login-user.cy.js
  e2e/cypress/e2e/api/authentication/read-user.cy.js
  e2e/cypress/e2e/api/authentication/register-user.cy.js
  e2e/cypress/e2e/api/authentication/update-user.cy.js
  e2e/cypress/e2e/api/event-api.cy.js
  e2e/cypress/e2e/api/event/create-event.cy.js
  e2e/cypress/e2e/api/event/delete-event.cy.js
  e2e/cypress/e2e/api/event/read-event.cy.js
  e2e/cypress/e2e/api/event/update-event.cy.js
  e2e/cypress/e2e/api/friend/create-friend-requests.cy.js
  e2e/cypress/e2e/api/friend/delete-friend-request.cy.js
  e2e/cypress/e2e/api/friend/read-friend-requests.cy.js
  e2e/cypress/e2e/api/post-api.cy.js
  e2e/cypress/e2e/api/post/create-post.cy.js
  e2e/cypress/e2e/api/post/delete-post.cy.js
  e2e/cypress/e2e/api/post/read-post.cy.js
  e2e/cypress/e2e/api/post/update-post.cy.js
  e2e/cypress/e2e/api/user-api.cy.js
  e2e/cypress/e2e/ui/authentication/login-user.cy.js
  e2e/cypress/e2e/ui/authentication/register-user.cy.js
  e2e/cypress/e2e/ui/cookie-modal/cookie-modal.cy.js
  e2e/cypress/e2e/ui/event/add-event.cy.js
  e2e/cypress/e2e/ui/event/delete-event.cy.js
  e2e/cypress/e2e/ui/event/filter-event.cy.js
  e2e/cypress/e2e/ui/post/add-post.cy.js
  e2e/cypress/e2e/ui/post/delete-post.cy.js
  e2e/cypress/e2e/ui/top-nav/top-nav.cy.js
Labels: enhancement, infrastructure, testing, refactor, tech-debt, e2e

#319 Login Page theme and UI changes
  .vscode/settings.json
  client/src/App.css
  client/src/components/ThemeSwitch/ThemeSwitch.css
  client/src/components/ThemeSwitch/ThemeSwitch.jsx
  client/src/pages/Login/Login.css
  client/src/pages/Login/Login.jsx
  server/db.sqlite
Labels: question, frontend, needs-review, needs-testing, need-review
